* {
  margin: 0;
  padding: 0;
}

ul li {
  color: #0d0a19 !important;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.bi-person-fill {
  background-color: #f5f6f7;
  color: #9a9ea7;
  border-radius: 10px;
  padding: 7px;
}

.navbar-btn span {
  color: #9a9ea7 !important;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  margin-left: 9px;
  text-decoration: none;
}

.brand-color {
  color: #9a9ea7;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.hero-area h1 {
  color: #0d0a19;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 50px;
}

.hero-btn button {
  font-width: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 20px 8px 20px !important;
}

.test-drive {
  background-color: #7963f0 !important;
  color: white !important;
}

.hero-img {
  padding-top: 90px;
}

.carousel-control-prev-icon {
  color: #f5f6f7 !important;
  fontsize: 30px !important;
  line-height: 30px !important;
  width: 50px !important;
  height: 50px !important;
  background-color: #9a9ea7 !important;
  border-radius: 10px !important;
  padding: 7px !important;
  margin-right: 30px !important;
}

.carousel-control-next-icon {
  color: #f5f6f7 !important;
  fontsize: 30px !important;
  line-height: 30px !important;
  width: 50px !important;
  height: 50px !important;
  background-color: #9a9ea7 !important;
  border-radius: 10px !important;
  padding: 7px !important;
  margin-right: 30px !important;
}

/* Filter Component CSS Start */

.filter-search-label {
}

.filter-search-section-title {
  color: #0d0a19;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  padding-top: 80px;
  padding-bottom: 40px;
}

.vertical-line {
  width: 1px;
  height: 40px;
  background-color: #ede8e9;
}

.filter-search-label {
  color: #9a9ea7;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.filter-search-select {
  width: 180px !important;
  height: 40px !important;
  /* background-color: #F5F6F7 !important; */
  border: none !important;
  line-height: 24px !important;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.search-button {
  width: 120px;
  height: 47px;
  background-color: #7963f0 !important;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 18px;
}

.filter-search-box {
  width: 100% !important;
  height: 100%;
  max-width: 1200px !important;
  padding: 18px !important;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Filter Component CSS End */

/* Trending Component CSS Start */
.trending-section-title {
  color: #0d0a19;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  padding-top: 100px;
  padding-bottom: 60px;
}

.trending-card-title {
  color: #0d0a19;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 2px !important;
}

.trending-card-text-up {
  color: #9a9ea7;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px !important;
}

.trending-card-text-down {
  color: #9a9ea7;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 22px;
}

.trending-price-button {
  background-color: #dfd9ff !important;
  border: none !important;
  border-radius: 8px;
  color: #7963f0 !important;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  padding: 9px 17px;
}

.trending-bestseller-button {
  background-color: #f5f6f7 !important;
  border: none !important;
  border-radius: 8px;
  color: #9a9ea7 !important;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  padding: 9px 17px;
}
/* Trending Component CSS End */

/* Best Selling Component CSS Start */
.vw-ad {
  display: flex;
  align-items: center;
  padding: 20px;
}
.vw-logo {
  width: 50px;
  height: 50px;
  margin-right: 40px;
}
.vw-text {
  color: #0d0a19;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}
.vw-price {
  color: #9a9ea7;
  font-size: 14px;
  line-height: 21px;
}
/* Best Selling Component CSS End */

/* Footer Component CSS Start */
footer p {
  margin: 0;
}
/* Footer Component CSS End */
